@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    --ama1: #FFCC00;
    --ama2: #a07b00;
    --ver1: #F5251A;
    --ver2: #770b05;
    --fundo: #FFEDA4;
}
body {
    background-color: var(--fundo);
    text-align: center;
}
main {
    width: max-content;
    background-color: white;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    border-radius: 50px;
    padding: 30px 150px;
}
h1 {
    color: white;
    margin: auto;
    font-size: 80px;
    font-weight: 900;
    border: var(--ver2) solid 7px;
    background-color: var(--ama1);
    width: max-content;
    padding: 60px;
    border-radius: 60px;
}
#button {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 50px;
    width: 700px;
    font-size: 50px;
    font-weight: 700;
    background-color: var(--ver1);
    border-radius: 60px;
    border: none;
    color: var(--ver2);
    border-bottom: 15px solid var(--ver2);
    cursor: pointer;
    transition: 0.2s;
}
#button:hover {
    background-color: var(--ama1);
    color: var(--ama2);
    border-bottom: 15px solid var(--ama2);
    scale: 1.1;   
}
input {
    display: block;
    margin: 50px auto 20px auto;
    font-size: 70px;
}
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
footer {
    background-color: var(--ver2);
    color: white;
    font-size: 25px;
}